.about-us {
  border-bottom: 1px solid #000000;
}
.about-us__wrap {
  @include container;

   @media($w-desktop) {
    margin-left: 176px;
   }
}
.about-us__title {
  margin-top: 32px;
  margin-bottom: 2px;
  @include title;

  @media($w-tablet) {
    margin-top: 56px;
    margin-bottom: 20px;
  }

  @media($w-desktop) {
    margin-top: 68px;
    margin-bottom: 16px;
  }
}
.about-us__features {
  display: flex;
  flex-flow: wrap;
  margin: 0;
  margin-bottom: 63px;
  padding: 0;
  color: $color-title;
  font-family: $font-verdana;
  font-weight: bold;
  @include font-size-rem(16px);
  line-height: normal;
  list-style: none;

  @media($w-tablet) {
    margin-bottom: 81px;
    @include font-size-rem(20px);
  }

  @media($w-desktop) {
    margin-bottom: 88px;
  }
}
.about-us__feature {
  padding-top: 85px;

  @media($w-tablet) {
    flex-basis: 325px;
    margin-right: 10px;
  }

  @media($w-desktop) {
    margin-right: 25px;
  }
}
