.catalog-items {
  margin-top: 30px;

  @media($w-tablet) {
    margin-bottom: 79px;
  }

  @media($w-desktop) {
    margin-bottom: 128px;
  }
}

.catalog-items__wrap {
  display: flex;
  flex-wrap: wrap;
  @include container;

  @media($w-desktop) {
    justify-content: space-between;
  }
}
