.catalog-item {
  width: 320px;
  margin-bottom: 30px;
  transition: box-shadow .2s;

  @media($w-tablet) {
    display: flex;
    width: auto;
    margin-bottom: 54px;
  }

  @media($w-desktop) {
    display: block;
    width: 315px;
    margin-bottom: 57px;
    margin-right: 52px;
  }

  &:nth-child(3n) {
    margin-right: 0;
  }

  &:hover {
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .1);
  }

  &:active {
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0, .1);
  }
}

.catalog-item__photo {
  width: 260px;
  height: 195px;

  img {
    width: 100%;
    height: auto;
  }

  @media($w-tablet) {
    width: 334px;
    height: 333px;
  }

  @media($w-desktop) {
    float: none;
    width: 315px;
    height: 460px;
  }
}
.catalog-item__info {
  display: flex;
  flex-flow: wrap;
  padding: 24px 27px 30px;
  border: 1px solid #ececec;

  @media($w-tablet) {
    width: 278px;
  }

  @media($w-desktop) {
    width: auto;
    padding: 24px 27px 30px;
  }
}
.catalog-item__title {
  margin: 0;

  &:hover {
    opacity: .6;
  }

  &:active {
    opacity: .3;
  }
}
.catalog-item__description {
  margin-bottom: 19px;

  @media($w-tablet) {
    min-height: 235px;
    margin: 0;
  }
  @media($w-desktop) {
    min-height: 98px;
  }
}
.catalog-item__characteristics {
  margin: 0;
  margin-top: 5px;
  color: $color-text;
  font-family: $font-opensans;
  @include font-size-rem(14px);
  @include line-height(14px, 30px);

  @media($w-tablet) {
    @include font-size-rem(15px);
    @include line-height(15px, 30px);
  }
}
.catalog-item__buy {
  display: flex;
  justify-content: space-between;
  flex-basis: 100%;
  height: 20px;
  padding-top: 22px;
  border-top: 1px solid #ececec;
}
.catalog-item__price {
  color: $color-title;
  font-family: $font-verdana;
  font-weight: bold;
  @include font-size-rem(14px);
  @include line-height(14px, 24px);

  @media($w-tablet) {
    @include font-size-rem(16px);
    @include line-height(16px, 24px);
  }

  &:hover {
    opacity: .6;
  }

  &:active {
    opacity: .3;
  }
}
.catalog-item__to-cart {
  display: block;
  width: 21px;
  height: 18px;

  svg {
    width: 100%;
    height: 100%;
    opacity: .2;
    transition: fill .2s;
  }

  &:hover svg {
    opacity: 1;
    fill: $color-main;
  }

  &:active svg {
    fill: $color-main;
    opacity: .3;
  }
}
.catalog-item__photo a {
  display: block;
  width: 260px;
  height: 195px;

  @media($w-tablet) {
    width: 334px;
    height: 333px;
  }

  @media($w-desktop) {
    width: 315px;
    height: 462px;
  }
}

.catalog-item__title a {
  color: $color-title;
  font-family: $font-verdana;
  font-weight: bold;
  @include font-size-rem(16px);
  @include line-height(16px, 24px);
  text-decoration: none;

  @media($w-tablet) {
    @include font-size-rem(18px);
    @include line-height(18px, 24px);
  }
}
