.contacts {
  color: $color-text;

  @media($w-desktop) {
    position: relative;
    padding: 0 50px;
  }
}
.contacts__wrap-desktop {
  @media($w-desktop) {
    position: relative;
    width: 875px;
    margin: 0 auto;
    padding-left: 175px;
    padding-right: 0;

    &:before {
      content: "";
      position: absolute;
      top: 133px;
      left: 63px;
      width: 47px;
      height: 81px;
      background: url("../../img/icon-flag.svg") center;
    }
  }
}
.contacts__wrap {
  @include container;

  @media($w-tablet) {
    position: relative;
    display: flex;
    flex-wrap: wrap;

    &:before {
      content: "";
      position: absolute;
      top: 41px;
      right: 52px;
      width: 47px;
      height: 81px;
      background: url("../../img/icon-flag.svg") center;

      @media($w-desktop) {
        content: none;
      }
    }
  }

  @media($w-desktop) {
    display: block;
    width: auto;
    margin: 0;
    padding: 0;
  }
}
.contacts__title {
  margin: 0;
  padding-top: 38px;
  padding-bottom: 26px;
  @include title;

  @media($w-tablet) {
    flex-basis: 650px;
    padding-top: 54px;
    padding-bottom: 51px;
  }

  @media($w-desktop) {
    flex-basis: 0;
    padding-top: 137px;
    padding-bottom: 49px;
  }
}
.contacts__content {
  display: flex;
  margin-bottom: 28px;
  font-family: $font-opensans;
  @include font-size-rem(14px);
  @include line-height(14px, 30px);

  &:hover .contacts__content-right--mail:after {
    background: #46c1ae;
  }

  &:active .contacts__content-right--mail:after {
    opacity: .3;
  }

  @media($w-tablet) {
    margin-right: 64px;
    margin-bottom: 57px;
    @include font-size-rem(16px);
    @include line-height(16px, 30px);
  }

  @media($w-desktop) {
    float: none;
    margin-bottom: 29px;
  }
}
.contacts__content-left {
    width: 78px;
}
.contacts__content-right {
    width: 168px;

    &--mail:after {
      content: "";
      position: relative;
      bottom: 3px;
      left: 0;
      display: block;
      width: 100%;
      border-bottom: 1px solid $color-main;
    }

    @media($w-tablet) {
      width: 192px;
    }
  }

.contacts__map {
  height: 457px;
  margin-bottom: 41px;
  background: #444444 url("../img/map-mobile@1x.jpg") no-repeat 0 0;
  background-size: 100%;


  @media($w-tablet) {
    flex-basis: 100%;
    margin-bottom: 55px;
    background-image: url("../img/map-tablet@1x.jpg");
    background-size: 100%;

  }

  @media($w-desktop) {
    position: absolute;
    top: 71px;
    right: 0;
    width: 525px;
    height: 457px;
    margin: 0;
    background-image: url("../img/map-desktop@1x.jpg");
    background-size: 100%;
  }
}
.contacts__btn {
  width: 256px;
  margin: 0 auto;
  margin-bottom: 39px;

  @media($w-tablet) {
    width: 227px;
    margin-bottom: 57px;
  }

  @media($w-desktop) {
    margin-top: 80px;
    margin-bottom: 105px;
    margin-left: 0;
  }
}

.contacts__mail {
  color: $color-text;
  text-decoration: none;

  &:hover {
    color: #46c1ae;
  }

  &:active {
    opacity: .3;
  }
}
