.footer-logo {
  display: none;
  width: 103px;
  height: 34px;

  svg {
    width: 100%;
    height: 100%;
    transition: all .2s;
  }

  &:hover svg {
    fill: $color-add;
  }

  &:active svg {
    fill: $color-add;
    fill-opacity: .3;
  }

  @media($w-tablet) {
    display: block;
    width: 106px;
    height: 34px;
    margin-top: 51px;
    margin-bottom: 57px;
  }
}




