.item {
  background: #ffffff;
  color: $color-text;

  @media($w-tablet) {
    position: relative;
  }

  @media($w-desktop) {
  }
}
.item__title {
  margin: 25px 0 9px;
  word-spacing: -1px;
  @include title;

  @media($w-tablet) {
    float: left;
    margin-top: 46px;
    margin-bottom: 51px;
    margin-left: -5px;
  }

  @media($w-desktop) {
    position: relative;
    z-index: 10;
    float: none;
    display: inline-block;
    margin-top: 124px;
    margin-bottom: 48px;
    vertical-align: top;
  }
}
.item__week {
  display: block;
  margin-bottom: 26px;
  color: #63d1bb;
  font-family: $font-opensans;
  font-weight: bold;
  @include font-size-rem(16px);
  @include line-height(16px, 16px);
  text-transform: uppercase;

  @media($w-tablet) {
    float: right;
    width: 124px;
    margin-top: 57px;
    text-align: center;
  }

  @media($w-desktop) {
    float: left;
    width: 104px;
    margin: 140px 42px 0 30px;
  }
}
.item__description {
  margin: 0;
  margin-bottom: 15px;
  font-family: $font-opensans;
  @include font-size-rem(14px);
  @include line-height(14px, 24px);

  @media($w-tablet) {
    margin-bottom: 36px;
    @include font-size-rem(16px);
    @include line-height(16px, 30px);
  }

  @media($w-desktop) {
    margin-bottom: 50px;
  }
}
.item__features {
  margin-bottom: 28px;
  border-collapse: collapse;
  font-family: $font-opensans;
  @include font-size-rem(14px);
  @include line-height(14px, 20px);

  td {
    padding: 10px 0;
    border-bottom: 1px solid #ececec;

    @media($w-tablet) {
      padding: 9px 0;
    }
  }

  td:last-child {
    width: 193px;
    padding-left: 32px;

    @media($w-tablet) {
      padding-left: 26px;
    }
  }

  @media($w-tablet) {
    margin-bottom: 56px;
    @include font-size-rem(15px);
  }

  @media($w-desktop) {
    margin-bottom: 108px;
  }
}
.item__photo {
  width: 260px;
  height: 315px;

  @media($w-tablet) {
    position: absolute;
    top: 152px;
    right: 0;
    width: 333px;
    height: 404px;
  }

  @media($w-desktop) {
    position: absolute;
    top: 71px;
    right: 0;
    width: 525px;
    height: 636px;
  }
}
.item__photo img {
  width: 260px;
  height: 315px;

  @media($w-tablet) {
    width: 333px;
    height: 404px;
  }

  @media($w-desktop) {
    width: 525px;
    height: 636px;
  }
}
.item__price {
  display: block;
  margin: 25px 0;
  font-family: $font-verdana;
  font-weight: bold;
  @include font-size-rem(16px);
  @include line-height(16px, 24px);
  text-align: center;

  @media($w-tablet) {
    margin-bottom: 32px;
    @include font-size-rem(18px);
  }
}
.item__btn {
  margin-bottom: 35px;

  @media($w-tablet) {
    margin-bottom: 52px;
  }

  @media($w-desktop) {
    margin-bottom: 73px;
  }
}

@media($w-tablet) {
  .item__info {
    width: 292px;
    clear: both;
  }
}

@media($w-desktop) {
  .item__info {
    margin-left: 176px;
  }
}
