.main-header {
  background: #ffffff;
  border-top: 1px solid #ececec;

  @media($w-tablet) {
    height: 88px;
    border-top: none;
    border-bottom: 1px solid #ececec;
  }
}

.main-header__wrap {
  position: relative;
  z-index: 10;
  display: flex;
  flex-flow: column;

  @media($w-tablet) {
    flex-flow: wrap row;
    justify-content: space-between;
    align-items: center;
    @include container;
  }
}

.main-header__toggle {
  position: absolute;
  top: 28px;
  right: 30px;
  width: 21px;
  height: 21px;
  border: none;
  background: #ffffff url("../img/icon-menu-close.svg") no-repeat;
  font-size: 0;
  cursor: pointer;
  outline: 0;
  transition: opacity .2s ease;

  &:hover {
    opacity: .6;
  }

  &:active {
    opacity: .3;
  }

  &--closed {
    background: #ffffff url("../img/icon-menu-open.svg") no-repeat center;
  }

  @media($w-tablet) {
    display: none;
  }
}

.main-header__delivery {
  display: none;

  @media($w-tablet) {
    display: block;
  }
}
