.main-nav {
  flex-grow: 1;
  font-family: $font-verdana;
  font-weight: bold;
  @include font-size-rem(16px);
  @include line-height(16px, 24px);

  @media($w-tablet) {
    float: right;
    clear: none;
  }
}
.main-nav__list {
  margin: 0;
  padding: 0;

  @media($w-tablet) {
    display: flex;
  }
}
.main-nav__list-item {
  border-top: 1px solid #ececec;
  list-style: none;
  a {
    display: block;
    padding: 30px;
    padding-left: 24%;
    color: $color-title;
    text-decoration: none;
  }

  // &:nth-child(1) {
  //   display: none;
  // }

  // &:nth-child(2) {
  //   display: none;
  // }

  &:nth-child(3) {
    background: #ffffff url("../../img/icon-search.svg") no-repeat 7% 50%;
  }

  &:nth-child(4) {
    background: #ffffff url("../../img/icon-cart.svg") no-repeat 7% 50%;
    border-bottom: 1px solid #ececec;
  }

  @media($w-tablet) {
    border: none;

    &:nth-child(1) {
      position: absolute;
      bottom: -45px;
      left: 0;
      margin: 0;
      padding: 0;
      padding-left: 50px;
      font-size: 14px;

      a {
        padding: 0;
      }
    }

    &:nth-child(2) {
      @extend .main-nav__list-item:nth-child(1);
      left: 218px;
    }

    &:nth-child(3) {
      flex-basis: 82px;
      margin-left: auto;
      padding: 0;
      border-left: 1px solid #ececec;
      background-position: 50% 50%;
      font-size: 0;

      a {
        padding-top: 36px;
        padding-bottom: 28px;
      }
    }

    &:nth-child(4) {
      flex-basis: 266px;
      border: none;
      border-left: 1px solid #ececec;
      a {
        padding-top: 30px;
        padding-bottom: 35px;
        padding-right: 0;
      }
    }
  }

  @media($w-desktop) {

  }
}

