.main-nav {
  font-family: $font-verdana;
  font-weight: bold;
  @include font-size-rem(16px);
  @include line-height(16px, 24px);
  word-spacing: -1.5px;

  &--right {
    order: 10;

    @media($w-tablet) {
      order: 0;
    }
  }

  &--left {

    @media($w-desktop) {
      order: -1;
    }
  }

  &--add {
    display: none;

    @media($w-desktop) {
      display: flex;
    }
  }

  &--closed {
    display: none;

    @media($w-tablet) {
      display: block;
    }
  }
}
.main-nav--left .main-nav__icon {
  @media($w-tablet) {
    display: none;
  }
}
.main-nav__list {
  display: flex;
  flex-flow: column;
  @include no-list;

  @media($w-tablet) {
    display: flex;
    flex-flow: row;
    width: 350px;
  }
}
.main-nav__list-item {
  border-top: 1px solid #ececec;
  display: flex;
  padding: 27px;
  padding-left: 10%;
  color: $color-title;
  text-decoration: none;

  @media($w-tablet) {
    padding: 0;
    padding-top: 19px;
    padding-bottom: 19px;
    border-top: none;
  }

  &--right {
    @media($w-tablet) {
      padding-top: 32px;
      padding-bottom: 32px;
      border-left: 1px solid #ececec;
    }
  }

  &--left {
    @media($w-tablet) {
      @include font-size-rem(14px);
      @include line-height(14px, 24px);
    }

    @media($w-desktop) {
      margin: 0;
      width: 188px;
      padding-top: 32px;
      padding-bottom: 32px;
      @include font-size-rem(16px);
      @include line-height(16px, 24px);
    }
  }

  &:hover {
    color: rgba(0, 0, 0, .6);
  }

  &:active {
    color: rgba(0, 0, 0, .3);
  }
}

.main-nav__list-item--add {
  @media($w-desktop) {
    width: 188px;
    @include font-size-rem(14px);
    @include line-height(14px, 24px);
  }
}

.main-nav__list-item--no-icon {

  padding-left: calc(10% + 45px);

   @media($w-tablet) {
    padding-left: 0;
  }

  /* Для старых браузеров можно использовать это
  &::before {
    content: '';
    display: inline-block;
    vertical-align: top;
    height: 20px;
    width: 45px;
  }
  */
}


.main-nav__icon {
  width: 20px;
  height: 21px;
  margin-right: 25px;
  fill-opacity: .2;
}

.main-nav__list-item:hover .main-nav__icon {
  fill-opacity: 1;
  fill: $color-main;
}

.main-nav__list-item:active .main-nav__icon {
  fill-opacity: .3;
  fill: $color-main;
}

.main-nav__list-item--right .main-nav__icon {
  @media($w-tablet) {
    margin-left: 30px;
    margin-right: 30px;
  }
}

.main-nav--right li {
  &:first-of-type {
    @media($w-tablet) {
      font-size: 0;
    }
  }
}

.main-nav--left li {
  &:first-child {
    @media($w-tablet) {
      margin-right: 35px;
    }

    @media($w-desktop) {
      margin-right: 0;
    }
  }

  &:last-child {
    @media($w-desktop) {
      padding-left: 35px;
      border-left: 1px solid #ececec;
    }
  }
}

.main-nav--add li:last-child {
  @media($w-desktop) {
    padding-left: 35px;
  }
}
