.order__wrap {
  position: relative;
  @include container;

  @media($w-tablet) {
    display: flex;
  }

  @media($w-desktop) {

  }
}
.order__description {
  @include container;
  margin-top: 25px;
  margin-bottom: 25px;
  color: $color-text;
  font-family: $font-opensans;
  @include font-size-rem(14px);
  @include line-height(14px, 26px);

  br {
    display: none;
  }

  @media($w-tablet) {
    margin-top: 73px;
    margin-bottom: 0;
    @include font-size-rem(16px);
    @include line-height(16px, 30px);

    br {
      display: block;
    }
  }

  @media($w-desktop) {
    width: 700px;
    margin: 0 auto;
    margin-top: 125px;
  }
}
.order__container {
  padding: 0;
  border: none;

  &--type {
    padding-bottom: 15px;

  }

  &--name {
    padding-bottom: 12px;
  }

  &--phone {
    padding-bottom: 20px;
    }

  &--email {
    padding-bottom: 12px;
  }

  @media($w-tablet) {
    &--grey {
      background: #f1f1f1;
    }

    &--type {
      padding-top: 75px;
      padding-bottom: 10px;
    }

    &--color {
      padding-top: 76px;
      padding-bottom: 22px;
    }

    &--name {
      padding-top: 45px;
      padding-bottom: 50px;
    }

    &--phone {
      padding: 0;
      padding-top: 48px;
    }

    &--email {
      padding-bottom: 50px;
    }

    &--add {
      padding-top: 64px;
    }

    &--btn {
      display: flex;
      width: 700px;
      padding: 0 50px;
    }

    @media($w-desktop) {
      &--name {
        padding-top: 49px;
        padding-bottom: 50px;
      }

      &--email {
        padding-bottom: 52px;
      }
    }
  }
}

.order__block {
  position: relative;

  @media($w-tablet) {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 501px;

    &--checkbox {
      justify-content: space-between;
    }
  }

  @media($w-desktop) {
    flex-basis: 700px;

    &--radio {
      flex-basis: 350px;
    }

    &--checkbox {
      justify-content: flex-start;
      flex-grow: 1;
    }
  }
}
.order__field-icon {
  position: absolute;
  top: 11px;
  right: 0;
  opacity: .2;

  &--phone {
    right: 5px;
    width: 25px;
    height: 25px;

    @media($w-tablet) {
      top: 16px;
      right: 26px;
    }

    @media($w-tablet) {
      top: 15px;
      right: 11px;
    }
  }

  &--mail {
    width: 38px;
    height: 30px;

    @media($w-tablet) {
      top: 18px;
      right: 20px;
    }

    @media($w-tablet) {
      top: 20px;
      right: 3px;
    }
  }
}

.order__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  color: #63d1bb;
  font-family: $font-opensans;
  font-weight: bold;
  @include font-size-rem(16px);
  @include line-height(16px, 16px);
  text-transform: uppercase;

  &:after {
    content: "";
    width: 198px;
    border-bottom: 1px solid $color-main;

    @media($w-tablet) {
      content: none;
    }
  }

  &--type {
    margin-bottom: 32px;
  }

  &--color {
    margin-bottom: 36px;
  }

  &--name {
    margin-bottom: 35px;

    @media($w-tablet) {
      margin-top: 21px;
    }
  }

  &--phone {
    margin-bottom: 10px;

    @media($w-tablet) {
      margin-top: 20px;
    }
  }

  &--email {
    margin-bottom: 9px;

    @media($w-tablet) {
      margin-top: 20px;
    }
  }

  &--add {
    margin-bottom: 36px;

    @media($w-tablet) {
      margin-top: 20px;
    }
  }

  @media($w-tablet) {
    flex-basis: 167px;
    align-items: flex-start;
  }

  @media($w-desktop) {
    flex-basis: 175px;
    justify-content: center;
    text-align: center;
  }
}
.order__filter {
  display: none;

  &--radio {
    &:checked + label::before {
      background: #62d1ba;
    }
  }

  &--checkbox {
    &:checked + label::before {
      background: transparent url("../img/icon-tick.svg") no-repeat 50% 50%;
      background-size: 65%;
    }
  }
}

.order__field {
  flex-grow: 1;
  width: 100%;
  padding: 16px 0;
  margin-bottom: 24px;
  background: transparent;
  border: none;
  border-bottom: 2px solid #000000;
  font-family: $font-verdana;
  @include font-size-rem(16px);
  @include line-height(16px, 18px);
  outline: 0;
  transition: border-color .2s linear;

  &:hover + .order__field-icon,
  &:focus + .order__field-icon {
    fill: $color-main;
    opacity: 1;
  }

  &:hover,
  &:focus {
    border-color: #62d1ba;
  }

  &:invalid {
    border-color: #f0b1b1;
  }


  &::placeholder {
    color: #444444;
    opacity: .3;
    font-family: $font-verdana;
    @include font-size-rem(16px);
    @include line-height(16px, 18px);

    @media($w-tablet) {
      @include font-size-rem(18px);
      @include line-height(18px, 18px);
    }
  }

  @media($w-tablet) {
    align-self: baseline;
    flex-basis: 55%;
    margin-bottom: 18px;
    padding: 16px 60px 17px 17px;
    @include font-size-rem(18px);
    @include line-height(18px, 18px);
  }

  @media($w-desktop) {
    flex-basis: 65%;
    margin-bottom: 17px;
  }

  &--textarea {
    margin-bottom: 51px;
    padding: 16px 15px;
    border: 2px solid #444444;
    resize: vertical;
    width: 226px;
    min-height: 113px;

    @media($w-tablet) {
      min-height: 106px;
      margin-bottom: 53px;
      padding: 16px;
    }

    @media($w-desktop) {
      width: 668px;
      margin-bottom: 90px;
    }
  }

  &[type="tel"]:hover {
    fill-opacity: 1;
    fill: $color-main;
  }

  &[type="email"] {
  }
}
.order__label {
  display: block;
  color: #000000;
  font-family: $font-verdana;
  font-weight: bold;
  @include font-size-rem(16px);
  @include line-height(16px, 18px);
  cursor: pointer;

  &:hover::before {
    border-color: #62d1ba;
    transition: all .3s ease-in;
  }

  &:active::before {
    border-color: #c7c7c7;
  }

  &--radio {
    position: relative;
    margin-bottom: 32px;
    padding-left: 64px;

    @media($w-tablet) {
      margin-bottom: 58px;
      padding-left: 80px;
    }

    &::before {
      content: "";
      position: absolute;
      top: -7px;
      left: 0;
      display: block;
      width: 36px;
      height: 36px;
      background: #ffffff;
      border: 2px solid #444444;
      border-radius: 50%;
      box-shadow: inset 0 0 0 9px #ffffff;

      @media($w-tablet) {
        top: -17px;
        width: 48px;
        height: 48px;
        box-shadow: inset 0 0 0 13px #ffffff;
      }
    }
  }

  &--checkbox {
    position: relative;
    width: 141px;
    margin-bottom: 47px;
    padding-left: 64px;

    @media($w-tablet) {
      width: 157px;
      margin-bottom: 58px;
      padding-left: 82px;
    }

    @media($w-desktop) {
      margin-right: 23px;
      padding-left: 82px;
    }

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 0;
      display: block;
      width: 36px;
      height: 36px;
      border: 2px solid #444444;

      @media($w-tablet) {
        top: -15px;
        left: -1px;
        width: 50px;
        height: 48px;
      }
    }
  }

  &--field {
    align-self: baseline;
    margin-bottom: 3px;

    @media($w-tablet) {
      margin-right: 34px;
    }
  }
}
.order__btn {
  width: 100%;
  margin-bottom: 60px;

  @media($w-tablet) {
    width: auto;
    margin-right: auto;
    margin-bottom: 52px;
    padding: 16px 35px;
  }

  @media($w-desktop) {
    margin-bottom: 95px;
  }
}
.order__required {
  display: none;

  @media($w-tablet) {
    display: block;
    margin-right: 31px;
    padding: 10px 0;
    font-family: $font-opensans;
    @include font-size-rem(16px);
    @include line-height(16px, 30px)
  }

  @media($w-desktop) {
    margin-right: 0;
  }
}
