.reviews {
  border-bottom: 6px solid transparent;
  border-image: url("../../img/bg-zigzag-line.svg") 0 0 25 0 repeat;
  color: $color-text;

  @media($w-tablet) {
    padding-bottom: 168px;
    background: #ffffff url("../img/review@1x.jpg") no-repeat 0% 0%;
    border-bottom: 17px solid transparent;

    @media #{$retina} {
      background: #ffffff url("../img/review@2x.jpg") no-repeat 0% 0%;
      background-size: 350px 457px;
    }
  }

  @media($w-desktop) {
    padding: 0 50px;
    background: none;
    border-bottom: 23px solid transparent;
  }
}
.reviews__wrap {
  display: flex;
  flex-flow: wrap;
  align-items: flex-start;
  position: relative;
  @include container;

  @media($w-tablet) {
    padding-top: 72px;
  }

  @media($w-desktop) {
    width: 875px;
    padding-bottom: 163px;
    padding-top: 69px;
    padding-left: 175px;
    padding-right: 0;
    background: #ffffff url("../img/review@1x.jpg") no-repeat 0% 0%;

    @media #{$retina} {
      background: #ffffff url("../img/review@2x.jpg") no-repeat 0% 0%;
      background-size: 350px 457px;
    }
  }
}
.reviews__title {
  flex-grow: 1;
  order: -2;
  margin-top: 22px;
  margin-bottom: 25px;
  @include title;

  @media($w-tablet) {
    margin: 0;
    margin-bottom: 51px;
  }
}
.reviews__switchs {
  margin-top: 28px;
  margin-bottom: 38px;

  @media($w-tablet) {
    position: absolute;
    bottom: 3px;
    right: 50px;
    margin: 0;
  }

  @media($w-desktop) {
    position: static;
    align-self: flex-end;
  }
}
.reviews__switch {
  float: left;
  width: 129px;
  height: 52px;
  border: 1px solid #dcdcdc;
  background: #ffffff;
  outline: 0;
  cursor: pointer;
  transition: opacity .2s;

  &--left {
    border-right: none;
    background: #ffffff url("../img/icon-left-arrow.svg") no-repeat 50% 50%;
  }
  &--right {
    background: #ffffff url("../img/icon-right-arrow.svg") no-repeat 50% 50%;
  }

  &:hover {
    filter: opacity(.6);
  }

  &:active {
    filter: opacity(.3);
  }

  @media($w-tablet) {
    width: 87px;
    border: none;
  }

  @media($w-desktop) {
    height: 62px;
  }
}
.reviews__btn {
  width: 100%;
  margin-bottom: 44px;

  @media($w-tablet) {
    order: -1;
    flex-basis: 171px;
    margin-top: 4px;
  }

  @media($w-desktop) {
    margin-top: 10px;
  }
}
