.section-catalog {
  position: relative;
  display: block;
  padding: 29px;
  color: #ffffff;
  text-decoration: none;
  transition: background-color 0.25s ease,
              transform 0.25s ease;

  &:before {
    content: "";
    position: absolute;
    opacity: 0.5;
  }

  &:hover {
    @media($w-tablet) {
      transform: translate(0, -5px);
    }
  }

  &:hover:before {
    opacity: 0.7;
  }

  &:active:before {
    opacity: 0.3;
  }

  &--interior {
    background: #63d1bb;

    &:hover {
      background: #59d5bc;
    }

    &:active {
      background: #59d5bc;
      color: rgba(255, 255, 255, .3);
    }

    &:before {
      top: 23px;
      right: 36px;
      width: 42px;
      height: 62px;
      background: url("../img/icon-interior.svg") no-repeat;

      @media($w-tablet) {
        top: 30px;
      }
    }
  }

  &--toys {
    background: #56c3b2;

    &:hover {
      background: #46c1ae;
    }

    &:active {
      background: #46c1ae;
      color: rgba(255, 255, 255, .3);
    }

    &:before {
      top: 21px;
      right: 27px;
      width: 61px;
      height: 61px;
      background: url("../img/icon-toy.svg") no-repeat;

      @media($w-tablet) {
        top: 31px;
        right: 33px;
      }

      @media($w-desktop) {
        right: 35px;
      }
    }
  }

    @media($w-tablet) {
      width: 50%;
      position: relative;
      top: 9px;
      padding: 31px 40px 37px;
  }
}


